<p style="color: green"><%= notice %></p>
<br>
<h2>Publications</h2>
<br>
<%= link_to " New", new_publication_path, class:"btn btn-primary bi bi-plus-lg" %>
<hr>

<div id="publications">
  <% @publications.each do |publication| %>
    <%= render publication %>
    <p>
      <%= link_to "Show", publication, class:"btn btn-outline-info" %>
    </p>
  <% end %>
</div>

