<br>
<h2>Nueva publicación</h2>
<hr>

<div class="container" style="background-color: #d3d3d3;" >
  <br>
  <%= render "form", publication: @publication %>
  <br>
</div>

<br>

<div>
  <%= link_to "Back", publications_path, class:"btn btn-outline-secondary" %>
</div>
